.tool_tip {
  font-size: 1.2rem !important;
}
.play {
  svg {
    background-color: var(--white);
    color: var(--black);
    padding: 0.5rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
  }
}
.prev,
.next {
  color: var(--light-white);
  svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}
