.input {
  height: 5rem;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--black);
  padding: 0 1rem;

  &:hover {
    outline: 1px solid var(--black);
  }
}
.error {
  border-color: red;
  outline: red;

  &:hover {
    outline: 1px solid red;
  }
}
